.snackbar  {
    position: fixed;
    top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: #aa5555;
    color: white;
    min-width: 250px;
    max-width: 500px;
    margin: 0 auto;
}